.ToolBoxApp {
    width: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
}
.mcontent{
    width: 95%;  
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;  
}

table {
    border: 2px solid forestgreen;
    width: 100%;
    table-layout: auto;
}
    
th {
    border-bottom: 1px solid black;
}
    
td {
    text-align: center;    
}